body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
}

.header-links {
    display: flex;
    align-items: center;
    margin-left: auto;
}